#video_streaming{
    margin: 20px;
    margin-left: 30%;
    display: inline-flex;
}
#agora_local{
    height: 500px;
    width: 500px;
}

.remote-containers div{
    float:right;
    margin-top: 20px;
    margin-left: 50px;
    height: 250px;
    width: 250px;
}

.phoneCall .fas fa-phone-slash {
    margin-left: 30px;
    cursor:pointer;
    color: #41437e !important;
    text-transform: uppercase;
    border: none;
    size: 20px;
}
