/* CSS Document */

body {
    font: 12px arial;
    color: #222;
    text-align: center;    
    display: flex;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #32465a;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
    position: fixed;
}

a {
    color: #0000FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    margin-top: 0.6em; 
    margin-bottom: 0em;
}

form{
    display: inline-block;
    padding: 0;
}

#usermsg {
    width: 395px;
    border: 1px solid #ACD8F0;
}

#submit {
    width: 60px;
}

ul {
    list-style-type: none;
    padding: 0;
}


/*****************CHAT******************/
#frame {
    width: 100%;
    height: 91.5vh;
    background: #E6EAEA;
    min-height: 100px;
    overflow: hidden;
  }

  @media screen and (max-width: 360px) {
    #frame {
      width: 100%;
      height: 100vh;
    }
  }
  #frame #sidepanel {
    float: left;
    min-width: 280px;
    max-width: 340px;
    width: 40%;
    height: 100%;
    background: #686eb6dc;
    color: #f5f5f5;
    overflow: hidden;
    position: relative;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel {
      width: 58px;
      min-width: 58px;
    }
  }
  /*Profile*/
  #frame #sidepanel #profile {
    width: 80%;
    margin: 25px auto;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #profile {
      width: 100%;
      margin: 0 auto;
      padding: 5px 0 0 0;
      background: #686eb6dc;
    }
  }

  #frame #sidepanel #profile .wrap .profile-image img {
    width: 40px;
    border-radius: 50%;
    align: center;
  }

  /*Search button*/
  #frame #sidepanel #search {
    border-top: 1px solid #404479dc;
    border-bottom: 1px solid #404479dc;
    font-weight: 300;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #search {
      display: none;
    }
  }
  #frame #sidepanel #search label {
    position: absolute;
    margin: 20px 0 0 20px;
  }
  #frame #sidepanel #search input {
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
    padding: 10px 0 10px 46px;
    width: calc(100% - 25px);
    border: none;
    background: #404479dc;
    color: #f5f5f5;
  }
  #frame #sidepanel #search input:focus {
    outline: none;
    background: #6264bd;
  }
  #frame #sidepanel #search input::-webkit-input-placeholder {
    color: #f5f5f5;
  }
  #frame #sidepanel #search input::-moz-placeholder {
    color: #f5f5f5;
  }
  #frame #sidepanel #search input:-ms-input-placeholder {
    color: #f5f5f5;
  }
  #frame #sidepanel #search input:-moz-placeholder {
    color: #f5f5f5;
  }

/*Contact*/
  #frame #sidepanel #contacts {
    height: calc(100% - 150px);
    overflow-y: scroll;
    overflow-x: hidden;
    background: #404479dc;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts {
      height: calc(100% - 149px);
      overflow-y: scroll;
      overflow-x: hidden;
    }
    #frame #sidepanel #contacts::-webkit-scrollbar {
      display: none;
    }
  }
  #frame #sidepanel #contacts.expanded {
    height: calc(100% - 334px);
  }
  #frame #sidepanel #contacts::-webkit-scrollbar {
    width: 8px;
    background: #2c3e50;
  }
  #frame #sidepanel #contacts::-webkit-scrollbar-thumb {
    background-color: #243140;
  }

  #frame #sidepanel #contacts li.contact {
    position: relative;
    padding: 10px 50px 6px 90px;
    font-size: 0.9em;
    cursor: pointer;
  }

  #frame #sidepanel #contacts li.contact:active {
    background: #6264bd;
  }

  #frame #sidepanel #contacts ul li.contact .wrap {
    width: 90%;
    margin: 0 auto;
    position: relative;
    left: -100px;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap {
      width: 100%;
    }
  }
  #frame #sidepanel #contacts ul li.contact .wrap img {
    width: 65px;
    height: 60px;
    border-radius: 50%;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap img {
      margin-right: 0px;
    }
  }

  /*Profile_Content*/
  #frame #content {
    float: right;
    width: 60%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  @media screen and (min-width: 900px) {
    #frame #content {
      width: calc(100% - 340px);
    }
  }

  #frame #content .contact-profile {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #b4b9e9dc;
  }
  #frame #content .contact-profile a{
    font-size: 25px;
    float: left;
    margin: 0px 12px 0 0px;
  }
  #frame #content .contact-profile img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin: 10px 12px 0 30px;
  }
  
  #frame #content .contact-profile .profile-option{
    float: right;
    border: none;
    width: 50px;
    margin-right: 20px;
    margin-left: 14px;
    cursor: pointer;
    font-size: 1.5em;
    color: #435f7a;
  }

  #frame #content .contact-profile .profile-option a{
    color: #0b3153;
    text-decoration: none;
    display: block;
    font-size: 16px;
  }

  #frame #content .contact-profile .profile-option label{
    color: #0b3153;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-size: 16px;
  }
  #frame #content .contact-profile .profile-option input[type="file"] {
    display: none;
  }

  /*Messages*/
  #frame #content .messages {
    height: auto;
    min-height: calc(100% - 130px); 
    max-height: calc(100% - 130px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  @media screen and (max-width: 735px) {
    #frame #content .messages {
      max-height: calc(100% - 105px);
    }
  }
  #frame #content .messages p1{
    font-size: 40px;
    text-align: center;    
    margin: 0;
    justify-content: center;
  }
  #frame #content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }
  #frame #content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }
  #frame #content .messages ul li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
  }
  #frame #content .messages ul li.sent img {
    margin: 6px 0 0 8px;
  }
  #frame #content .messages ul li.sent p {
    background: #435f7a;
    color: #f5f5f5;
    margin: 15px 15px 5px 45px;
  }
  #frame #content .messages ul li.replies img {
    float: right;
    margin: 6px 0 0 8px;
  }
  #frame #content .messages ul li.replies p {
    background: #f5f5f5;
    float: right;
  }
  #frame #content .messages ul li img {
    width: 22px;
    border-radius: 50%;
    float: left;
  }
  #frame #content .messages ul li p {
    display: block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
  }
  @media screen and (min-width: 735px) {
    #frame #content .messages ul li p {
      max-width: 300px;
    }
  }

  /*SendBox*/
#frame #content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
    background: #b4b9e9dc;
}

input[type=text], select {
  width: 70%;
  padding: 12px 20px;
  margin: 11px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#frame #content .message-input .wrap {
    position: relative;
    align: center;
}
#frame #content .message-input .wrap input:focus {
  outline: none;
}
#frame #content .message-input .wrap .attachment {
  border: none;
  opacity: .5;
  width: 50px;
  margin: 15px 10px 5px 10px;
  cursor: pointer;
  font-size: 1.5em;
  color: #435f7a;
}

#frame #content .message-input .wrap .attachment:hover {
  opacity: 1;
}

#frame #content .message-input .wrap button {
  border: none;
  width: 50px;
  padding: 12px 0px;
  margin: 15px 10px 5px 5px;
  cursor: pointer;
  background: #32465a;
  color: #f5f5f5;
}

#frame #content .message-input .wrap button:hover {
  background: #435f7a;
}
#frame #content .message-input .wrap button:focus {
  outline: none;
}