<div class="chat_container">

    <div id="wrapper">
        <div id="menu">
            <p class="welcome">Welcome, {{getUsername()}} <b></b></p>
            <button class="logout" md-raised-button type="button">Exit Chat</button>
            <div style="clear:both"></div>
        </div>

        <!-- <div id="chatbox" *ngFor="let string of messages; let i = index">-->
        <div class="container" *ngFor="let string of messages; let i = index">{{string}}</div>
        <!--</div>-->

        <form name="message" action="">
            <input id="message" class="usermsg" (keydown)="handleSubmit($event)" size="63" />

            <button class="chatButton" type="submit" (click)=send()>Send</button>
        </form>
    </div>

    <script type="text/javascript">
    </script>
</div>