/* CSS Document */

body {
    font: 12px arial;
    color: #222;
    text-align: center;
    padding: 35px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #32465a;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;

    min-height: 100%;
    margin: 0;
}

input {
    font: 12px arial;
}

a {
    color: #0000FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0;
    padding: 0;
    margin-top: 0.6em; 
    margin-bottom: 0em;
}

form{
    display: inline-block;
    padding: 0;
}

#usermsg {
    width: 395px;
    border: 1px solid #ACD8F0;
}

#submit {
    width: 60px;
}

ul {
    list-style-type: none;
    padding: 0;
}


/*****************CHAT******************/
#frame {
    width: 95%;
    min-width: 360px;
    max-width: 1000px;
    height: 92vh;
    min-height: 300px;
    max-height: 520px;
    background: #E6EAEA;
    min-height: 100px;
    overflow: hidden;
  }

  @media screen and (max-width: 360px) {
    #frame {
      width: 100%;
      height: 100vh;
    }
  }
  #frame #sidepanel {
    float: left;
    min-width: 280px;
    max-width: 340px;
    width: 40%;
    height: 100%;
    background: #2c3e50;
    color: #f5f5f5;
    overflow: hidden;
    position: relative;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel {
      width: 58px;
      min-width: 58px;
    }
  }
  /*Profile*/
  #frame #sidepanel #profile {
    width: 80%;
    margin: 25px auto;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #profile {
      width: 100%;
      margin: 0 auto;
      padding: 5px 0 0 0;
      background: #32465a;
    }
  }

  #frame #sidepanel #profile .wrap .profile-image img {
    width: 40px;
    border-radius: 50%;
    align: center;
  }

/*Contact*/
  #frame #sidepanel #contacts {
    height: calc(100% - 177px);
    overflow-y: scroll;
    overflow-x: hidden;
    background: #405468;
    margin-left: 8px;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts {
      height: calc(100% - 149px);
      overflow-y: scroll;
      overflow-x: hidden;
    }
    #frame #sidepanel #contacts::-webkit-scrollbar {
      display: none;
    }
  }
  #frame #sidepanel #contacts.expanded {
    height: calc(100% - 334px);
  }
  #frame #sidepanel #contacts::-webkit-scrollbar {
    width: 8px;
    background: #2c3e50;
  }
  #frame #sidepanel #contacts::-webkit-scrollbar-thumb {
    background-color: #243140;
  }

  #frame #sidepanel #contacts li.contact {
    position: relative;
    padding: 10px 50px 6px 90px;
    font-size: 0.9em;
    cursor: pointer;
  }
 
  #frame #sidepanel #contacts li.contact:hover {
    background: #32465a;
  }

  #frame #sidepanel #contacts ul li.contact .wrap {
    width: 90%;
    margin: 0 auto;
    position: relative;
    left: -100px;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap {
      width: 100%;
    }
  }
  #frame #sidepanel #contacts ul li.contact .wrap img {
    width: 65px;
    height: 60px;
    border-radius: 50%;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap img {
      margin-right: 0px;
    }
  }

  /*Profile_Content*/
  #frame #content {
    float: right;
    width: 60%;
    height: 90%;
    overflow: hidden;
    position: relative;
  }
  @media screen and (max-width: 735px) {
    #frame #content {
      width: calc(100% - 58px);
      min-width: 300px !important;
    }
  }
  @media screen and (min-width: 900px) {
    #frame #content {
      width: calc(100% - 340px);
    }
  }
  #frame #content .contact-profile {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #f5f5f5;
  }
  #frame #content .contact-profile img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin: 9px 12px 0 9px;
  }
  #frame #content .contact-profile p {
    float: left;
  }

  /*Messages*/
  #frame #content .messages {
    height: auto;
    min-height: calc(100% - 93px);
    max-height: calc(100% - 93px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  @media screen and (max-width: 735px) {
    #frame #content .messages {
      max-height: calc(100% - 105px);
    }
  }
  #frame #content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }
  #frame #content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }
  #frame #content .messages ul li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
  }
  #frame #content .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
  }
  #frame #content .messages ul li.sent img {
    float: right;
    margin: 6px 0 0 8px;
  }
  #frame #content .messages ul li.sent p {
    background: #f5f5f5;
    float: right;
  }
  #frame #content .messages ul li.replies img {
    margin: 6px 8px 0 0;
  }
  #frame #content .messages ul li.replies p {
    background: #435f7a;
    color: #f5f5f5;
  }
  #frame #content .messages ul li img {
    width: 22px;
    border-radius: 50%;
    float: left;
  }
  #frame #content .messages ul li p {
    display: block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
  }
  @media screen and (min-width: 735px) {
    #frame #content .messages ul li p {
      max-width: 300px;
    }
  }

  /*SendBox*/
#frame .content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
}
#frame .content .message-input .wrap {
    position: relative;
}
#frame .content .message-input .wrap input:focus {
  outline: none;
}
#frame .content .message-input .wrap .attachment {
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: #435f7a;
  opacity: .5;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap .attachment {
    margin-top: 17px;
    right: 65px;
  }
}
#frame .content .message-input .wrap .attachment:hover {
  opacity: 1;
}
#frame .content .message-input .wrap button {
  float: right;
  border: none;
  width: 50px;
  padding: 12px 0;
  cursor: pointer;
  background: #32465a;
  color: #f5f5f5;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap button {
    padding: 16px 0;
  }
}
#frame .content .message-input .wrap button:hover {
  background: #435f7a;
}
#frame .content .message-input .wrap button:focus {
  outline: none;
}