

<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div id="search">
                <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                <input type="text" placeholder="Search contacts..." (keyup)="searchContact($event.target.value)"/>  
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
                    <div class="wrap">
                       <div class="profile-image"> 
                            <img [src]="profileImage" alt=""/>
                        </div>
                        {{getUsername()}}
                    </div>
                    <a href="#">New group</a>
                    <a href="#contactList" data-toggle="modal">Contacts</a>
                    <a href="#">Feature 2</a>
                    <a href="#">Feature 3</a>
                </div>
                <span class="fa fa-bars" (click)="openNav()"> </span>  
            </div>
        </div>
        <div id="contacts"> 
            <p class= "friendText">Contacts</p>
                <ul>
                    <div *ngFor="let entry of mapContacts | keyvalue" (click)="changeChat(entry.key,entry.value)">
                        <hr>
                        <li class="contact">
                            <div class="wrap">
                                <img src={{entry.value}} alt="" /> {{entry.key}}
                            </div>
                        </li>
                    </div>
                </ul>
        </div>
    </div>
    <div id="content">
        <div class="contact-profile">
            <img src={{getFriendPhotoActive()}} alt="" /><a>{{getFriendActive()}}</a>
            <div class="profile-option">
                <div class="dropdown">
                    <i class="fa fa-ellipsis-v" role="button" data-toggle="dropdown"></i>
                    <div class="dropdown-menu dropdown-menu-right">
                        <label class="dropdown-item" id="#bb"> Background
                            <input type="file" id="File" (change)="changeBackground($event)" accept=".png,.jpeg,.jpg" size="60" >
                        </label> 
                        <a class="dropdown-item" (click)="changeColorAppearance()">Appearance</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="messages" #scrollMe [scrollTop]="scrollMe.scrollHeight">
            <p>{{getStringChat()}}</p>
            <ul>
                <div *ngFor="let string of messages" [shAttachMenu]="menu" [shMenuData]="string">
                    <div *ngIf="isContactMessage(string)">
                        <li class="replies">
                            <img [src]="profileImage" alt=""/>
                            <div *ngIf="isImage(string.content)">
                                <img style="width:20px;border-radius:10px; height:250px; width:250px;" [src]="getTrustedUrl(string.content)" alt="" />
                            </div>
                            <p *ngIf="!isImage(string)">{{string.content}}</p>
                        </li>
                    </div>
                    <div *ngIf="!isContactMessage(string)">
                        <li class="sent">
                            <div *ngIf="isImage(string.content)">
                                <img style="width:20px;border-radius:10px; height:250px; width:250px;" [src]="getTrustedUrl(string.content)" alt=""/>
                            </div>
                            <p *ngIf="!isImage(string)">{{string.content}}</p>
                        </li>
                    </div>
                </div>
            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
                <i class="far fa-smile" (click)="openPopup()"></i>
                <emoji-input
                inputClass="emojiInput"
                [popupAnchor]="'bottom'"
                [(model)]="text"
                style="display: inline-block;"
                [closeAfterSelection]="false"
                (click)="openPopup(false)"
                (setPopupAction)="setPopupAction($event)"
                (keyup.enter)="send(text,$event)">
                </emoji-input>
                <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                <button class="chatButton" type="submit" (click)=send(text,$event)>
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="contactList">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Contacts</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-search">
            <input type="text" placeholder="Search contacts..." (keyup)="searchNewContact($event.target.value)"/>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            
            <div *ngFor="let entry of mapFriendsTotal | keyvalue">
                <button type="button" class="list-group-item list-group-item-action" data-dismiss="modal" (click)="createChat(entry.key,entry.value)">
                    {{entry.key}}</button>
            </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary mr-auto">Add new contact</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>

<!-- Context Menu (Messages) -->
<sh-context-menu #menu>
    <ng-template shContextMenuItem let-string (click)="removeMessage($event)">Remove</ng-template>
</sh-context-menu>



